<nav class="mb-5 border-b-4">
    <ul class="flex items-center justify-center gap-3 mb-10">
        <li><a class="text-gray-900 px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition" href="{% url 'note' %}" role="button">Add note</a></li>
        <li><a class="text-gray-900 px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition" href="{% url 'tag' %}" role="button">Add Tag</a></li>
        <li><a class="text-gray-900 px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition" href="{% url 'main' %}" role="button"> Go back to the main page </a></li>
    </ul>
</nav>

<h4 class="font-medium leading-tight text-lg text-gray-300 mb-1">Search:</h4>

<form action="{% url 'search_note' %}" method="get">
    <input class="w-full rounded-lg border-lip mb-8" name="q" type="text" placeholder="Search...">
</form>
