{% extends "app_assistant/base.html" %}

{% block content %}

<div class="px-4 my-5 text-center" style="padding-top: 0; margin-top: 0;">
    <h1 class="display-5 fw-bold" style="font-size: 36px; margin-top: -20px;">Personal Assistant</h1>
    <h3 class="display-5 fw-bold" style="font-size: 26px; margin-top: 10px;" >Персональний помічник</h2>
    <div class="col-lg-6 mx-auto">
        <p class="lead" style="font-size: 16px;">A new generation of assistant</p>
    </div>
    <img class="d-block mx-auto mb-4" style="border-radius: 0.5rem;" src="static/app_assistant/cont1.jpg" 
        alt="" width="750" height="440">
</div>

{% endblock %}

