{% extends "app_assistant/base.html" %}

{% block content %}
<h2>Your documents</h2>

{% if document_list %}
  <div class="bd-example">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Description</th>
              <th scope="col">Original filename/Virtual path</th>
              <th scope="col">Details</th>
              <th scope="col">###</th>
          </tr>
          </thead>
          <tbody>
              {% for f in document_list %}
                  <tr>
                      <th scope="row">
                        <i class="fa-solid fa-file-alt" style="color: #8224e3; margin-right: 5px;"></i>{{ f.description }}
                      </th>
                      <td><a href="{{media}}{{f.path}}">{{ f.original_name }}</a></td>
                      <td>
                        <a class="badge rounded-pill text-bg-info" 
                            href="{% url 'app_download:edit_description' f_id=f.id %}"
                            style="color: white !important;">Edit</a>
                      </td>
                      <td>Test</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  <br>
{% endif %}

{% endblock %}
