{% extends "app_assistant/base.html" %}

{% block content %}
<h1>Your all files</h1>
<div class="row">

  {% if files %}
  <div class="bd-example">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Description</th>
              <th scope="col">Original filename</th>
              <th scope="col">Details</th>
              <th scope="col">###</th>
          </tr>
          </thead>
          <tbody>
              {% for f in files %}
                  <tr>
                      <th scope="row">
                        <i class="fa-solid fa-file-alt" style="color: #8224e3; margin-right: 5px;"></i>{{ f.description }}
                      </th>
                      <td>{{ f.original_name }}</td>
                      <td>
                        <a class="badge rounded-pill text-bg-info" 
                            href="{% url 'app_download:edit_description' f_id=f.id %}"
                            style="color: white !important;">Edit</a>
                      </td>
                      <td>
                        <a class="badge rounded-pill text-bg-danger" 
                            href="{% url 'app_download:delete_file' f_id=f.id %}"
                            style="color: white !important;">Delete</a>
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  <br>
{% endif %}

</div>
{% endblock %}