{% extends "app_assistant/base.html" %}

{% block content %}
<h2 style="padding-left: 1rem;">Your images</h2>

<nav>
  <div class="card" style="border-color: white;">
      <div class="card-body">
          <a href="{% url 'app_download:files' %}" class="btn btn-primary">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
              All Files
          </a>
      </div>
  </div>
</nav>


{% for p in image_list %}
<div class="card" style="width: 18rem;">
    <img src="/media/{{p.path}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">your photo</h5>
      <p class="card-text">{{p.description}}</p>
      
    </div>
  </div>
{% endfor %}

{% endblock %}
