
{% extends "app_assistant/base.html" %}

{% block content %}
    <h2>Choose what you want to see:</h2>
    <div class="bd-example">
        <table class="table">
            <tr>
                <th>Category</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>News</td>
                <td><a href="{% url 'app_download:upload' %}">Upload</a></td>
            </tr>
            <tr>
                <td>Sport News</td>
                <td><a href="{% url 'app_download:files' %}">Files</a></td>
            </tr>
            <tr>
                <td>Currency</td>
                <td><a href="{% url 'app_download:photo' %}">Photo</a></td>
            </tr>
            <tr>
                <td>Weather</td>
                <td><a href="{% url 'app_download:music' %}">Music</a></td>
            </tr>

            <tr>
                <td>Weather</td>
                <td><a href="{% url 'app_download:video' %}">Video</a></td>
            </tr>
            <tr>
                <td>Weather</td>
                <td><a href="{% url 'app_download:other' %}">Other</a></td>
            </tr>
        </table>
    </div>

{% endblock %}
