
{% extends "app_assistant/base.html" %}

{% block content %}

    <h2>Choose category files, that you want to see:</h2>

    <nav>
        <div class="card" style="border-color: white;">
            <div class="card-body">
            <a href="{% url 'app_download:files' %}" class="btn btn-primary">All Files</a>
            <a href="{% url 'app_download:upload' %}" class="btn btn-success">
                <i class="fa-solid fa-file-arrow-up" style="margin-right: 8px;"></i>Upload file
            </a>
            </div>
        </div>
    </nav>

    <div class="bd-example">
        <table class="table">
            <tr>
                <th>Category</th>
                <th>Link</th>
            </tr>
            <tr>
                <td><i class="fa-solid fa-file-image" style="font-size:36px; color: #8224e3"></i></td>
                <td><a href="{% url 'app_download:image' %}" style="font-size:22px;">Images</a></td>
            </tr>
            <tr>
                <td><i class="fa fa-file-text" style="font-size:36px; color: #8224e3"></i></td>
                <td><a href="{% url 'app_download:document' %}" style="font-size:22px;">Documents</a></td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-file-audio" style="font-size:36px; color: #8224e3"></i></td>
                <td><a href="{% url 'app_download:music' %}" style="font-size:22px;">Musics</a></td>
            </tr>

            <tr>
                <td><i class="fa-solid fa-file-video" style="font-size:36px; color: #8224e3"></i></td>
                <td><a href="{% url 'app_download:video' %}" style="font-size:22px;">Videos</a></td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-file-binary" style="font-size:36px; color: #8224e3"></i></td>
                <td><a href="{% url 'app_download:archive' %}" style="font-size:22px;">Archives</a></td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-file" style="font-size:36px; color: #8224e3"></i></td>
                <td><a href="{% url 'app_download:other' %}" style="font-size:22px;">Others</a></td>
            </tr>
        </table>
    </div>

{% endblock %}
