{% extends "app_assistant/base.html" %}

{% block content %}
<h1>Your videos</h1>
<div class="row">

  {% if video_list %}
  <div class="bd-example">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Description</th>
              <th scope="col">Original filename</th>
              <th scope="col">###</th>
          </tr>
          </thead>
          <tbody>
              {% for f in video_list %}
                  <tr>
                      <th scope="row">
                        <i class="fa-solid fa-file-alt" style="color: #8224e3; margin-right: 5px;"></i>{{ f.description }}
                      </th>
                      <td>{{ f.path }}</td>
                      <td><p>test</p></td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  <br>
{% endif %}
</div>
{% endblock %}