{% extends "app_assistant/base.html" %}

{% block content %}

<h1>Contact List</h1>

{% if contacts %}
    <ul>
        {% for contact in contacts %}
            <li>
                <strong>{{ contact.fullname }}</strong><br>
                Address: {{ contact.address }}<br>
                Phone Number: {{ contact.phone_number }}<br>
                Email: {{ contact.email }}<br>
                Birthday: {{ contact.birthday }}
                <a href="{% url 'app_contacts:detail' pk=contact.pk %}" class="btn btn-primary">Detail</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'app_contacts:search_contacts' %}" class="btn btn-primary">Search Contact</a>

    <nav>       
        <ul class="pager">
            {% if contacts.has_previous %}
            <li class="previous">
                <a href="{% url 'app_contacts:main_paginate' contacts.previous_page_number %}"></a> 
                    <span aria-hidden="true">←</span> Previous
                </a>
            </li>    
            {% endif %}
            {% if contacts.has_next %}
            <li class="next">
                <a href="{% url 'app_contacts:main_paginate' contacts.next_page_number %}">Next
                    <span aria-hidden="true">→</span>
                </a>
            </li>
            {% endif %}       
        </ul>
    </nav>
    </div>
    
    </div>   
</div>
    
{% else %}
    <p>No contacts available.</p>
{% endif %}

</body>
</html>
{% endblock content %}
