{% extends "app_assistant/base.html" %}

{% block content %}

<nav class="mb-5 border-b-4">
    <div class="card" style="border-color: white;">
		<div class="card-body">
        <a href="{% url 'app_contacts:dashboard' %}" class="btn btn-primary">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Dashboard</a>
        <a href="{% url 'app_contacts:search_contacts' %}" class="btn btn-primary">Search Contact</a>
		</div>
	</div>
</nav>


{% if contacts %}
    <h1 style="padding-left: 1rem;">Contact List</h1>

    <div class="bd-example">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Fullname</th>
                <th scope="col">Address</th>
                <th scope="col">#Details</th>
            </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <th scope="row">{{ contact.fullname }}</th>
                        <td>{{ contact.address }}</td>
                        <td>

                            <h5><a class="badge rounded-pill text-bg-info" 
                                href="{% url 'app_contacts:detail' pk=contact.pk %}"
                                style="color: white !important;">Details</a>
                            </h5>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    <div class="bd-example">
        <span class="step-links">
            {% if contacts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ contacts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
            </span>

            {% if contacts.has_next %}
                <a href="?page={{ contacts.next_page_number }}">next</a>
                <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <h1>Contact List</h1>
    <p>No contacts available.</p>
{% endif %}

{% endblock content %}
