{% extends "app_assistant/base.html" %}

{% block content %}



  <form method="post" action="{% url 'app_contacts:contact' %}">
    <title>Створення контакту</title>
</head>
<body>
    <h1>Створення контакту</h1>
    <form action="{% url 'app_contacts:contact' %}" method="post">
        {% csrf_token %}
        {{ contact_form.as_p }}
        <h2>Номер телефону</h2>
        {{ phone_number_form.as_p }}
        <h2>Email адреса</h2>
        {{ email_address_form.as_p }}
        <button type="submit" class="btn btn-primary">Зберегти контакт</button>
    </form>
</body>
</html>


{% endblock %}