{% extends "app_assistant/base.html" %}

{% block content %}

  <form method="post" action="{% url 'app_contacts:contact' %}">

    <h2>Сreating a contact</h2>
    <form action="{% url 'app_contacts:contact' %}" method="post">
        {% csrf_token %}
        <div class="card mb-3">
            <h5 class="card-header">Details</h5>
            <div class="card-body">
            {{ contact_form.as_p }}
            </div>
        </div>

        <div class="card mb-3">
            <h5 class="card-header">
                Phone-number:
            </h5>
            <div class="card-body">
                {{ phone_number_form.as_p }}
            </div>
        </div>

        <div class="card mb-3">
            <h5 class="card-header">
                Email:
            </h5>
            <div class="card-body">
                {{ email_address_form.as_p }}
            </div>
        </div>
            
        <button type="submit" class="btn btn-primary mb-3">Save contact</button>

    </form>

{% endblock %}
