{% extends "app_assistant/base.html" %}

{% block content %}



  <form method="post" action="{% url 'app_contacts:contact' %}">
    <title>Создание контакта</title>
</head>
<body>
    <h1>Создание контакта</h1>
    <form action="{% url 'app_contacts:contact' %}" method="post">
        {% csrf_token %}
        {{ contact_form.as_p }}
        <h2>Номер телефона</h2>
        {{ phone_number_form.as_p }}
        <h2>Email адрес</h2>
        {{ email_address_form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить контакт</button>
    </form>
</body>
</html>


{% endblock %}