{% extends "app_assistant/base.html" %}

{% block content %}

<h1>Contact Details</h1>

<p><strong>Full Name:</strong> {{ contact.fullname }}</p>
<p><strong>Address:</strong> {{ contact.address }}</p>
<p><strong>Birthday:</strong> {{ contact.birthday }}</p>

<h2>Phone Numbers</h2>
{% if contact.phone_numbers.exists %}
    <ul>
        {% for phone_number in contact.phone_numbers.all %}
            <li>{{ phone_number.phone_number }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Дані відсутні</p>
{% endif %}

<h2>Email Addresses</h2>
{% if contact.email_addresses.exists %}
    <ul>
        {% for email_address in contact.email_addresses.all %}
            <li>{{ email_address.email }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Дані відсутні</p>
{% endif %}


<a href="{% url 'app_contacts:edit_contact' pk=contact.pk %}" class="btn btn-primary">Edit Contact</a>

<a href="{% url 'app_contacts:delete_contact' pk=contact.pk %}" class="btn btn-primary">Delete Contact</a>

{% endblock %}