{% extends "app_assistant/base.html" %}

{% block content %}


<form action="{% url 'app_contacts:search_contacts' %}" method="get">
  <div class="container">
    <h2 style="text-align: center;">Searching for contacts</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <input type="text" name="query" placeholder="Enter name, phone-number or email" class="form-control">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
    </div>
  </div>
</form>

{% if error_message %}
  <p class="error"><strong>{{ error_message }}</strong></p>
{% endif %}

{% if contacts %}
  <h3 style="text-align: center;">Searching results:</h3>
  <div class="bd-example">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Fullname</th>
            <th scope="col">Address</th>
            <th scope="col">#Details</th>
        </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <th scope="row">{{ contact.fullname }}</th>
                    <td>{{ contact.address }}</td>
                    <td>

                        <h5><a class="badge rounded-pill text-bg-info" 
                            href="{% url 'app_contacts:detail' pk=contact.pk %}"
                            style="color: white !important;">Details</a>
                        </h5>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

{% else %}
  <p>Нічого не знайдено.</p>
{% endif %}

{% endblock %}
