{% extends "app_assistant/base.html" %}

{% block content %}

{% if message %}
  <p class="alert alert-warning">{{ message }}</p>
{% endif %}

<form action="{% url 'app_contacts:upcoming_birthdays' %}" method="get">
  <label for="days">Днів в майбутньому:</label>
  <input type="number" name="days" id="days" value="{{ days_in_future }}" min="1" required>
  <button type="submit" class="btn btn-primary">Фільтр</button>
</form>

{% if contacts %}
  <h1>Найближчі дні народження</h1>

  <!-- {% if paginator.num_pages > 1 %}
  <ul class="pagination">
    {% for page in paginator.page_range %}
      <li {% if page == paginator.current_page %}class="active"{% endif %}>
        <a href="?days={{ days_in_future }}&page={{ page }}">{{ page }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %} -->

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Им'я та фамілія</th>
        <th>Дата народження</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
        <tr>
          <td><a href="{% url 'app_contacts:detail' pk=contact.pk %}">{{ contact.fullname }}</a></td>
          <td>{{ contact.birthday }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Немає контактів з прийдешніми днями народження</p>
{% endif %}

<nav>       
 <ul class="pager">
  {% if paginator.has_previous %}
  <li class="previous">
   <a href="{% url 'app_contacts:upcoming_birthdays_paginate' contacts.next_page_number %}">
     <span aria-hidden="true">←</span> Previous
   </a>
 </li>
 {% endif %}
  {% if paginator.has_next %}
  <li class="next">
      <a href="{% url 'app_contacts:upcoming_birthdays_paginate' contacts.next_page_number %}">Next
          <span aria-hidden="true">→</span>
      </a>
  </li>
  {% endif %}       
</ul>
</nav>
</div>

</div>   
</div>

{% endblock %}
