{% extends "app_assistant/base.html" %}

{% block content %}

{% if message %}
  <p class="alert alert-warning">{{ message }}</p>
{% endif %}

<form action="{% url 'app_contacts:upcoming_birthdays' %}" method="get">
  <label for="days">Днів в майбутньому:</label>
  <input type="number" name="days" id="days" value="{{ days_in_future }}" min="1" max="10" required>
  <button type="submit" class="btn btn-primary">Фільтр</button>
</form>

{% if contacts %}
  <h1>Найближчі дні народження</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Им'я та фамілія</th>
        <th>Дата народження</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
        <tr>
          <td><a href="{% url 'app_contacts:detail' pk=contact.pk %}">{{ contact.fullname }}</a></td>
          <td>{{ contact.birthday }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Немає контактів з прийдешніми днями народження</p>
{% endif %}

{% endblock %}