{% extends "app_assistant/base.html" %}

{% block header %}
    {% include 'includes/headerNote.html' %}
{% endblock %}

{% block content %}
    <div class="h-screen py-6">
        <nav class="mb-5 border-b-4">
            <ul class="flex items-center justify-center gap-3 mb-10">
              <a href="/app_notes/" class="btn btn-primary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Notes</a>
            </ul>
        </nav>
        <style>

            .note-details p {
                /* стилі для тексту опису, дати, статусу та тегів */
                font-size: 18px;
                color: #666;
                margin-bottom: 10px;
            }

            .note-details h2 {
                text-transform: uppercase;
                font-size: 32px;
            }

            .badge-details-completed {
                font-weight: bold;
                background-color: green;
                padding-top: 0.8em;

                padding-bottom: 0.8em;
                padding-left: 1.2em;
                padding-right: 1.2em;
            }

            .badge-details-not-implemented {
                /*background-color: #8224e3;*/
                background-color: #A887F9;
                font-weight: bold;
                padding-top: 0.8em;

                padding-bottom: 0.8em;
                padding-left: 1.2em;
                padding-right: 1.2em;
            }
        </style>


        <div class="note-details">
            <h2>{{ note.name }}</h2>
            <p><strong>Description:</strong> {{ note.description }}</p>
            <p><strong>Date:</strong> {{ note.created.date }}</p>

            {% if note.done %}
                <p><strong>Status:</strong>
                    <span class="badge rounded-pill badge-details-completed increase-size">Completed</span>
                </p>
            {% else %}
                
                <p><strong>Status:</strong>
                    <span class="badge rounded-pill badge-details-not-implemented increase-size">Not implemented</span>
                </p>
            {% endif %}
            {% if note.tag_list %}
               <p><strong>Tags:</strong> <small>{{ note.tag_list }}</small></p>
            {% else %}
               <p><strong>Tags:</strong> empty</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

