{% extends "app_assistant/base.html" %}

{% block content %}
    <style>
        /* Стилі для редагування нотатки */
        h1 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        form {
            max-width: 500px;
            margin: 0 auto;
        }

        form input[type="text"],
        form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }

        form button[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        form button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>

    <h1>Edit Note</h1>

    <!-- Форма редагування нотатки -->
    <form method="post" action="{% url 'app_notes:edit_note' note_id=note_id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
{% endblock %}