{% extends "app_assistant/base.html" %}

{% block header %}
    {% include 'includes/headerNote.html' %}
{% endblock %}
{% load static %}
{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'app_notes/css/styles.css' %}">

  <nav class="mb-5 border-b-4">
    <div class="card" style="border-color: white;">
			<div class="card-body">
        <a href="/app_notes/" class="btn btn-primary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Notes</a>
        <a href="/app_notes/tag/" class="btn btn-primary">Add Tag</a>
			</div>
		</div>
  </nav>

  <h2 style="text-align: center;">Create Note</h2>
  <!-- Note Creation Form -->
  <form method="post">
    {% csrf_token %}
    <label for="name">Note Name:</label>
    <input type="text" id="name" name="name">
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>
    <!-- Include tags selection -->
    {% for tag in tags %}
      <input type="checkbox" id="tag_{{ tag.id }}" name="tags" value="{{ tag.name }}">
      <label for="tag_{{ tag.id }}">{{ tag.name }}</label><br>
    {% endfor %}
    <button type="submit">Create</button>
  </form>
{% endblock %}
