{% extends "app_assistant/base.html" %}

{% block header %}
    {% include 'includes/headerNote.html' %}
{% endblock %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_notes/css/styles.css' %}">
    <div class="h-screen py-6">
      <nav class="mb-5 border-b-4">
        <ul class="flex items-center justify-center gap-3 mb-10">
          <li><a
              class="text-black px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition"
              href="/app_notes/tag/" role="button">Add Tag</a></li>
          <li><a
              class="text-black px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition"
              href="/app_notes/" role="button"> Go back to the main page </a></li>
        </ul>
      </nav>
    <h1>Create Note</h1>
  <!-- Note Creation Form -->
  <form method="post">
    {% csrf_token %}
    <label for="name">Note Name:</label>
    <input type="text" id="name" name="name">
    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea>
    <!-- Include tags selection -->
    {% for tag in tags %}
      <input type="checkbox" id="tag_{{ tag.id }}" name="tags" value="{{ tag.name }}">
      <label for="tag_{{ tag.id }}">{{ tag.name }}</label><br>
    {% endfor %}
    <button type="submit">Create</button>
  </form>
{% endblock %}
