{% extends "app_assistant/base.html" %}

{% block header %}
    {% include 'includes/headerNote.html' %}
{% endblock %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'app_notes/css/styles.css' %}">
  <h2 style="text-align: center;">Search Notes</h2>
  
  <nav class="mb-5 border-b-4">
      <ul class="flex items-center justify-center gap-3 mb-10">
        <a href="/app_notes/" class="btn btn-primary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Notes</a>
      </ul>
  </nav>

<!-- Search Form -->
  <form method="get">
    <label for="q">Search:</label>
    <input type="text" id="q" name="q">
    <button type="submit">Search</button>
  </form>
  <!-- Display search results -->
  {% for note in notes %}
    <div>
      <h2>{{ note.name }}</h2>
      <p>{{ note.description }}</p>
      <!-- Display other details of the note -->
    </div>
  {% empty %}
    <p>No notes found.</p>
  {% endfor %}
{% endblock %}
