{% extends "app_assistant/base.html" %}

{% block header %}
    {% include 'includes/headerNote.html' %}
{% endblock %}
{% load static %}
{% block content %}

    <nav class="mb-5 border-b-4">
        <div class="card" style="border-color: white;">
          <div class="card-body">
            <a href="/app_notes/" class="btn btn-primary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Notes</a>
            <a href="/app_notes/note/" class="btn btn-primary">Add Note</a>
          </div>
        </div>
    </nav>

    <link rel="stylesheet" type="text/css" href="{% static 'app_notes/css/styles.css' %}">
    <h2 style="text-align: center;">Create Tag</h2>

  <!-- Tag Creation Form -->
  <form method="post">
    {% csrf_token %}
    <label for="name">Tag Name:</label>
    <input type="text" id="name" name="name">
    <button type="submit">Create</button>
  </form>
  {% if error %}
    <p>{{ error }}</p>
  {% endif %}
{% endblock %}
